graft src
graft tests
include addition.cpp
include build.sh
include meta.yaml

include README.rst
include LICENSE.txt

include run_test.sh
include tox.ini

include tests/*

global-exclude *.py[cod] __pycache__ *.so *.dylib
